body {
    font-family: 'Proxima Nova', sans-serif;
}

.container {
    max-width: 1140px;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNovaRegular.woff");
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/ProximaNovaBold.woff");
    font-weight: 700;
}
